/* Global Styles */
body {
    position: relative;
    header {
        position: sticky;
        top: 0;
    }
}


/* OOCSS */
.db {
    display: block;
}
.df {
    display: flex;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
