@import './mixins';
@import './variables';

/* Global Styles */
body {
    position: relative;
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.mobile-only {
    display: block;
    @include respond-to($bp-tablet) {
        display: none;
    }
}
.tablet-only {
    display: none;
    @include respond-to($bp-tablet) {
        display: block;
    }
}


/* OOCSS */
.db {
    display: block;
}
.df {
    display: flex;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
