#headerContainer {
    &.header-wrapper {
        height: 60px;
        background-color: #708090;
        box-shadow: 2px 2px 5px darkgrey;

        .icon-container {
            align-self: center;
        }

        .menu-container {
            text-align: right;
            align-self: center;

            [mat-icon-button] {
                color: white;
            }
        }
    }
}