<section class="header-wrapper mat-typography df" id="headerContainer">
  <div class="icon-container flex-1">
    <!-- Icon goes here -->
  </div>
  <div class="menu-container flex-1">
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item [routerLink]="['']">
          <mat-icon svgIcon="outline-create"></mat-icon>Submit Nominations
      </a>
      <a mat-menu-item [routerLink]="['/nominations']">
        <mat-icon svgIcon="outline-check"></mat-icon>View Nominations
      </a>
      <!-- Strictly for superadmins -->
      <a mat-menu-item [routerLink]="['/nominations']">
        <mat-icon svgIcon="outline-check"></mat-icon>Manage Nominations
      </a>
      <a mat-menu-item [routerLink]="['/users']">
        <mat-icon svgIcon="outline-person"></mat-icon>Manage Users
      </a>
      <span mat-menu-item (click)="exportNominations()">
        <mat-icon svgIcon="outline-backup"></mat-icon>Export Nominations
      </span>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon svgIcon="outline-more_vert"></mat-icon>
    </button>
  </div>
</section>