@import '../../../styles/includes';

#manageNominationContainer.manage-nomination-wrapper {
    .mat-expansion-panel {
        border: 1px solid darkgray;
    }
    .nomination-details {
        p {
            display: flex;
            .label {
                flex: 3;
                font-weight: 500;
                @include respond-to($bp-tablet) {
                    flex: 1;
                }
            }
            .value {
                flex: 4;
                font-weight: 200;

            }
        }
    }

    .button-group {
        button {
            margin: 0 10px;
        }
    }
}